<%- include('partials/header') -%>

<!-- <% for (let i = 0; i < contents.length; i++) { %>
    <h3><%= contents[i].title %></h3>
    <p><%= contents[i].content %></p>
<% } %> -->

<% contents.forEach(function(content) { %>
    <a class="link-dark link-title" href="/posts/ <%= content.title %>"><h2><%= content.title %></h2></a>
    <p>
    <% if (content.content.length > 100) { %>
        <%= content.content.substring(0, 100)%> ... <a class="link-primary" href="/posts/ <%= content.title %>">Read More</a>
    <% } else { %>
        <%= content.content %>
    <% } %>
    </p>
    <!-- <p><%= content.content %></p> -->
<% }) %>

<!-- <% console.log(contents) %> -->

<%- include('partials/footer') -%>