<%- include('partials/header') -%>

<!-- <% for (let i = 0; i < contents.length; i++) { %>
    <h3><%= contents[i].title %></h3>
    <p><%= contents[i].content %></p>
<% } %> -->

<% contents.forEach(function(content) { %>
    <h3><%= content.title %></h3>
    <p><%= content.content %></p>
<% }) %>

<% console.log(contents) %>

<%- include('partials/footer') -%>